.shortenedSelect {
  width: 100px;
}

#saveBtn {
  background: #274ccf;
  color: white;
  border-radius: 8px;
  padding: 10px 103px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
}

#dtable{
    background: #343A40;
    color: white;
}

#deleteBtn {
  background: #DC3545;
  color: white;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
}

#editBtn {
  background: #ADADAD;
  color: white;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
}

